@{
    ViewData["Title"] = "Event Manager";
    Layout = "_LayoutCarrusel";
}

<h1 class="text-center" style="color: #101010;">Descubre nuestros eventos</h1>

<section>
    @await Component.InvokeAsync("CardsEventos")
</section>

