@{
    ViewData["Title"] = "Registro";
}

<div class="jumbotron text-center" style="background: transparent;">
    <h1>Registro</h1>
    <p class="lead">Subtitulo</p>
    <p class="p-5"><a class="btn btn-lg btn-success m-5" href="#" role="button">Get started today</a></p>
</div>