@model EM.Presentacion.MVC.Models.Empresa.EmpresaViewModel
@{
    ViewData["Title"] = "Perfil Empresa";
    Layout = "_LayoutAdmin";
}

<h1 class="text-center"> Perfil de @Model.RazonSocial - @Model.Cuil</h1>
