<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand" style="color: #999999;">
            Panel De Administrador
        </li>
        <li><a asp-controller="Empresa" asp-action="Index"><span class="glyphicon glyphicon-home"></span> Empresas</a></li>
        <li><a asp-controller="Cliente" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Clientes</a></li>
        <li><a asp-controller="Establecimiento" asp-action="Index"><span class="glyphicon glyphicon-tower"></span> Establecimientos</a></li>
        <li><a asp-controller="Sala" asp-action="Index"><span class="glyphicon glyphicon-tent"></span> Salas</a></li>
        <li><a asp-controller="Pais" asp-action="Index"><span class="glyphicon glyphicon-globe"></span> Pais</a></li>
        <li><a asp-controller="Provincia" asp-action="Index"><span class="glyphicon glyphicon-globe"></span> Provincia</a></li>
        <li><a asp-controller="Localidad" asp-action="Index"><span class="glyphicon glyphicon-globe"></span> Localidad</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
