<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand" style="color: #999999;">
            Administracion
        </li>
        <li><a asp-area="" asp-controller="Account" asp-action="Profile"><span class="glyphicon glyphicon-home"></span> Mi Empresa</a></li>
        <li><a asp-controller="Evento" asp-action="Index"><span class="glyphicon glyphicon-blackboard"></span> Mis Eventos</a></li>
        <li><a asp-area="" asp-controller="Disertante" asp-action="Index"><span class="glyphicon glyphicon-user"></span> Disertantes</a></li>
        <li><a asp-controller="Establecimiento" asp-action="Index"><span class="glyphicon glyphicon-tower"></span> Establecimientos</a></li>
        <li><a asp-controller="TipoEntrada" asp-action="Index"><span class="glyphicon glyphicon-tag"></span> Tipos Entrada</a></li>
        <li><a asp-controller="BeneficioEntrada" asp-action="Index"><span class="glyphicon glyphicon-star"></span> Beneficio Entrada</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->