<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin") || User.IsInRole("Empresa"))
         {
             <li><a asp-area="" asp-controller="Account" asp-action="Profile"><span class="glyphicon glyphicon-cog"></span> Administrar</a></li>
         }
         else
         {
             <li><a asp-area="" asp-controller="Account" asp-action="Profile"><span class="glyphicon glyphicon-user"></span> Mi Perfil</a></li>
         }
        
        <li><a asp-area="" asp-controller="Account" asp-action="Logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesion</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Registrarse</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
    }
</ul>
