.text-left {
    text-align: left !important;
}

.mb-auto, .my-auto {
    margin-bottom: auto !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.mb-auto, .my-auto {
    margin-bottom: auto !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.text-left {
    text-align: left !important;
}

.mb-auto, .my-auto {
    margin-bottom: auto !important;
}

.mt-auto, .my-auto {
    margin-top: auto !important;
}

.justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
